header {
    background-color: #282c34;
    display: grid;
}

#logodiv {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

nav a {
    color: white;
    text-decoration: none;
}

header ul {
    font-weight: bold;
    list-style: none;
    margin: 3%;
}

#hamburger {
    display: none;
}

/*Mobile*/
@media screen and (max-width: 640px) {
    header {
        grid-template-areas: "logo logo logo logo logo logo"
            "nav nav nav nav nav nav";
    }

    header img {
        width: 14%;
        margin: auto;
        display: block;
    }

    header ul {
        display: block;
    }

    nav {
        text-align: center;
        padding: 0;
        font-size: 1em;
    }

    nav#navmenu {
        display: none;
    }

    /* Controlled JS class for thumbnail image when menu is shown */
    .left-thumbnail {
        width: 9% !important;
        display: block !important;
        border-radius: 50% !important;
        padding: 1% !important;
        border: 1px solid #282c3400 !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }

    /* Style rules for hamburger menu */
    #hamburger {
        display: block;
        position: fixed;
        margin: 0 0 0 0;
        font-size: 18px;
        right: 0;
        top: 0;
        z-index: 99;
        background-color: #478ea5;
        border: 0;
        color: white;
        /***********new****/
    }
}

/*Tablet*/
/* @media screen and (min-width: 760px) {
    header {
        grid-template-areas: "logo logo logo logo logo logo"
        "nav nav nav nav nav nav";
    }
} */

/*Desktop*/
@media screen and (min-width: 641px) {
    header {
        grid-template-areas: "logo nav nav nav nav nav nav nav";
    }

    header img {
        width: 18%;
    }

    header ul {
        display: inline-block;
        font-size: 11px;
    }

    #logodiv {
        padding: 1%;
        margin: 1%;
    }

    nav {
        margin: 1%;
        text-align: end;
    }

    nav#navmenu {
        display: block !important;
    }

    nav li {
        display: inline-block;
    }
}