.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**Reset**/
body, header, main, footer, nav {
}

/*Grid Areas*/
header {
  grid-area: header;
}

#side {
  grid-area: side;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*Mobile*/
@media screen and (max-width: 640px) {}

/*Tablet*/
@media screen and (max-width: 760px) {}

/*Desktop*/
@media screen and (min-width: 761px) {
  div#root {
    display: grid;
    gap: 30px;
    grid-template-areas: "header header header header header header"
      "side side main main main main"
      "side side main main main main"
      "side side main main main main"
      "side side main main main main"
      "side side main main main main"
      "side side main main main main"
      "footer footer footer footer footer footer";
  }
}