footer {
    /* background-color: #282c34; */
    display: block;
    border: 1px solid red;
    background-color: blue;
}

/*Mobile*/
@media screen and (max-width: 640px) {
    footer {
       display: block;
    }
}

/*Tablet*/
/* @media screen and (min-width: 760px) {
    header {
        grid-template-areas: "logo logo logo logo logo logo"
        "nav nav nav nav nav nav";
    }
} */

/*Desktop*/
@media screen and (min-width: 641px) {
    footer {
        display: block;
    }
}